.p-create-purpose-quote.p-fullscreen-section.js-fullscreen-section
  img.p-create-purpose-quote__copy(
    src = '/img/section/create-purpose/copy.png'
    alt = ''
    )
  .p-create-purpose-quote__summary
    p.p-create-purpose-quote__summary-text
      span
        strong With Purpose. 
        |Not only as if you know 
        strong.u-c-key what 
        |you're 
      span
        |doing, but as if you know 
        strong.u-c-key why
        img(
          src = '/img/section/service-list/quotation.svg'
          alt = ""
          )
        
    p.p-create-purpose-quote__summary-signature
      |JD ARMELIN
    .p-create-purpose-quote__summary-comma
  p.p-create-purpose-quote__domain
    span
      |armelin.media
  img.p-create-purpose-quote__star(
    src = '/img/section/create-purpose/star.png'
    alt = ''
    )
  .p-create-purpose-quote__image01
  .p-create-purpose-quote__image02
  .p-create-purpose-quote__image03
  .p-create-purpose-quote__bg
