.p-section-founder.p-fullscreen-section.js-fullscreen-section
  .p-section-founder__content
    h2.p-section-founder__heading.u-tt-u
      |Never Stop Climbing
    p.p-section-founder__copy.u-tt-u
      |The 
      strong greatest 
      em mistake 
      |you could 
      strong ever 
      em commit
      br
      |is confusing a 
      em time to  
      strong rest 
      |for a 
      em time to 
      strong quit.
    p.p-section-founder__profile.u-tt-u
      strong JD ARMELIN
      br
      |Founder, ARMELIN MEDIA
    .p-section-founder__sns.u-tt-u
      h3.p-section-founder__sns-heading
        |Connect with JD
      .p-section-founder__sns-items
        a.p-section-founder__sns-item(
          href = "https://www.facebook.com/jdarmelin55"
          target = "_blank"
          )
          img.p-section-founder__sns-icon(
            src = `${path}/img/common/icon_facebook_b.svg`
            alt = "Facebook"
            )
        a.p-section-founder__sns-item(
          href = "https://www.instagram.com/jd.armelin/"
          target = "_blank"
          )
          img.p-section-founder__sns-icon(
            src = `${path}/img/common/icon_instagram_b.svg`
            alt = "Instagram"
            )
        a.p-section-founder__sns-item(
          href = "https://twitter.com/jdarmelin"
          target = "_blank"
          )
          img.p-section-founder__sns-icon(
            src = `${path}/img/common/icon_twitter_b.svg`
            alt = "Twitter"
            )
        a.p-section-founder__sns-item(
          href = "https://www.linkedin.com/in/jdarmelin/"
          target = "_blank"
          )
          img.p-section-founder__sns-icon(
            src = `${path}/img/common/icon_linkedin_b.svg`
            alt = "LinkedIn"
            )
  .p-section-founder__bg
