.p-get-started.p-fullscreen-section.js-fullscreen-section
  .p-get-started__copy.u-tt-u
    .p-get-started__copy-row1
      |Let's create 
      strong.u-c-key something 
      strong great 
      |together
    .p-get-started__copy-row2
      |Our journey begins with a single step
  .p-get-started__options
    .p-get-started__option.p-get-started__option--quote.u-tt-u
      a.p-get-started__option-in.p-get-started__option-in--quote.js-hover(
        href = ''
        )
        .p-get-started__option-text1
          |Get a free
        .p-get-started__option-text2
          span.u-c-key Q
          |uote
        .p-get-started__option-text3
          |For a custom work
    .p-get-started__option-or.u-tt-u
      |or
    .p-get-started__option.p-get-started__option--packages.u-tt-u
      a.p-get-started__option-in.p-get-started__option-in--packages.js-hover(
        href = ''
        )
        .p-get-started__option-text1
          |Browse ready - made
        .p-get-started__option-text2
          span.u-c-key P
          |ackages
        .p-get-started__option-text3
          |&amp; subscriptions
  .p-get-started__bg
