.p-get-started.p-fullscreen-section.js-fullscreen-section
  .p-get-started__copy.u-tt-u
    .p-get-started__copy-row1
      |Let's build 
      strong.u-c-key something 
      strong great 
      |together
    .p-get-started__copy-row2
      |Our journey begins with a single step
  .p-get-started__options
    .p-get-started__option.p-get-started__option--quote.u-tt-u
      a.p-get-started__option-in.p-get-started__option-in--quote.js-hover(
        href = ''
        )
        .p-get-started__option-text1
          |Complete form to
        .p-get-started__option-text2
          span.u-c-key S
          |ubmit
        .p-get-started__option-text3
          |your artist or brand
  .p-get-started__bg
