.p-service-list.p-fullscreen-section.js-fullscreen-section
  .p-service-list__content
    .p-service-list__heading
      strong Strategy 
      |Services
    .p-service-list__items
      .p-service-list__item
        img.p-service-list__item-icon(
          src = '/img/section/service-list/icon07.png'
          alt = ''
          )
        .p-service-list__item-heading
          |Brand Dev + Strategy
        .p-service-list__item-summary
          |Brand Naming & Storybuilding Brand Messaging Strategy Market Research & Validation Brand/Product Positioning Strategy Ongoing Brand Management + More
      .p-service-list__item
        img.p-service-list__item-icon(
          src = '/img/section/service-list/icon08.png'
          alt = ''
          )
        .p-service-list__item-heading
          |Media rELATIONS + Pr
        .p-service-list__item-summary
          |Brand Communication Strategy Media Relations and Outreach Crisis Communications Thought Leader Outreach Media Training + More
      .p-service-list__item
        img.p-service-list__item-icon(
          src = '/img/section/service-list/icon09.png'
          alt = ''
          )
        .p-service-list__item-heading
          |DigitaL mktg Strategy
        .p-service-list__item-summary
          |PPC/Display Ad Strategy & MGMT Search Engine Optimization (SEO) Conversion Rate Optimization (CRO) Social Media & Content Management Viral Content Engineering + More
      .p-service-list__item
        img.p-service-list__item-icon(
          src = '/img/section/service-list/icon10.png'
          alt = ''
          )
        .p-service-list__item-heading
          |Data + Analytics
        .p-service-list__item-summary
          |Data and Analytics Strategy Analytics Roadmap Development Data Collection, Cleaning & Analysis IoT/Web Scraping & Analysis Actionable Insights + More
      .p-service-list__item
        img.p-service-list__item-icon(
          src = '/img/section/service-list/icon11.png'
          alt = ''
          )
        .p-service-list__item-heading
          |Business Strategy
        .p-service-list__item-summary
          |Business Scale & Growth Strategy Product Sourcing & Logistics Customer Acquisition & Retention  Operations & Technology Consulting + More
      .p-service-list__item
        img.p-service-list__item-icon(
          src = '/img/section/service-list/icon12.png'
          alt = ''
          )
        .p-service-list__item-heading
          |Business Analysis
        .p-service-list__item-summary
          |Business Model & Strategy Audit Industry & Competitor Analysis SWOT Matrix/Analysis KPI/Metric Tracking & Analysis + More
    .p-service-list__hashtag
      strong #
      |armelin
      strong creative
      |studio
    .p-service-list__button
      a.p-service-list__button-in.js-hover(
        href = 'http://armelin.media/get-started'
        )
        |Start A 
        strong New 
        |Project
    .p-service-list__content-bg
  .p-service-list__image
    .p-service-list__copy
      span.p-service-list__copy-col1 start 
      span.p-service-list__copy-col2 your new project 
      span.p-service-list__copy-col3 today
    img.p-service-list__star(
      src = '/img/section/service-list/star.png'
      alt = ''
      )
    .p-service-list__image-bg.p-service-list__image-bg--strategy
      
