.p-service-list.p-fullscreen-section.js-fullscreen-section
  .p-service-list__content
    .p-service-list__heading
      strong Creative 
      |Services
    .p-service-list__items
      .p-service-list__item
        img.p-service-list__item-icon(
          src = '/img/section/service-list/icon01.png'
          alt = ''
          )
        .p-service-list__item-heading
          |websites + Apps 
        .p-service-list__item-summary
          |Immersive Website Design Ecommerce Web Development iOS & Android App Development Interactive Brand Experiences + More
      .p-service-list__item
        img.p-service-list__item-icon(
          src = '/img/section/service-list/icon02.png'
          alt = ''
          )
        .p-service-list__item-heading
          |Brand DeSign
        .p-service-list__item-summary
          |Professional Logo Design Brand Identity Systems Product & Packaging Design Tradeshow Displays & Booths + More
      .p-service-list__item
        img.p-service-list__item-icon(
          src = '/img/section/service-list/icon03.png'
          alt = ''
          )
        .p-service-list__item-heading
          |Photo + Video
        .p-service-list__item-summary
          |Photography & Video Production Brand & Product Sizzle Reels Lifestyle & Product Photography Scouting, Set Design, & Post + More
      .p-service-list__item
        img.p-service-list__item-icon(
          src = '/img/section/service-list/icon04.png'
          alt = ''
          )
        .p-service-list__item-heading
          |3d & Animation
        .p-service-list__item-summary
          |3D Product Visualisation Animated Movies & Explainer Vids Custom 3D CAD and Modelling 3D Simulation / Game Development WebGL, Three.js, GSAP, + More
      .p-service-list__item
        img.p-service-list__item-icon(
          src = '/img/section/service-list/icon05.png'
          alt = ''
          )
        .p-service-list__item-heading
          |Cinematic CGI + VFX 
        .p-service-list__item-summary
          |Concept Art  & Production Design Visual Effects & Motion Graphics Digital Environment Creation Compositing & Matte Painting + More
      .p-service-list__item
        img.p-service-list__item-icon(
          src = '/img/section/service-list/icon06.png'
          alt = ''
          )
        .p-service-list__item-heading
          |VR + AR Development
        .p-service-list__item-summary
          |Immersive AR & VR Experiences Virtual Tours, Courses, & Workshops Concetp & Visual Design Android, iOS, Smart Glasses Oculus, Vive, Hololens, + More
    .p-service-list__hashtag
      strong #
      |armelin
      strong creative
      |studio
    .p-service-list__button
      a.p-service-list__button-in.js-hover(
        href = 'http://armelin.media/get-started'
        )
        |Start A 
        strong New 
        |Project
    .p-service-list__content-bg
  .p-service-list__image
    .p-service-list__copy
      span.p-service-list__copy-col1 start 
      span.p-service-list__copy-col2 your new project 
      span.p-service-list__copy-col3 today
    img.p-service-list__butterfly(
      src = '/img/section/service-list/butterfly.png'
      alt = ''
      )
    img.p-service-list__star(
      src = '/img/section/service-list/star.png'
      alt = ''
      )
    .p-service-list__image-bg
      
