.p-preloader
  .p-preloader__in
    .p-preloader__logo
      img(src=`${path}/img/common/logo_am.svg`, width="95" alt="")
    .p-preloader__spinner
      .p-preloader__rect.p-preloader__rect--1
      .p-preloader__rect.p-preloader__rect--2
      .p-preloader__rect.p-preloader__rect--3
      .p-preloader__rect.p-preloader__rect--4
      .p-preloader__rect.p-preloader__rect--5
